.galeria {
    height: 350px;
    width: 400px;
    top: 100px;
    margin: 1em auto;
    border: 2px solid rgba(23, 116, 160, 0.808);
}
.galeria img {
    position: absolute;
    top: 10;
    left: 10;
    opacity: 0;
    transition: opacity 2s;
}
.galeria input [type=radio] {
    position: relative;
    top: 300px;
    margin: left 10px;
}
.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
}
